# Backend Configuration
PORT=5000

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nutrition_db

DATABASE_URL=postgres://postgres:postgres@localhost:5432/nutrition_db

# Frontend Configuration
VITE_API_URL=http://localhost:5000/api
